@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
}

body::-webkit-scrollbar{
    background-color: transparent;
    width:10px;
}

body::-webkit-scrollbar-thumb{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    background-color: #CBAC5A;
    min-height: 2px;
}

#contenedor-navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
}
hr{
    border: none;
    height: 2px;
    background-color: #1A3467;
}
nav{
    padding: 2rem;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.config{
    display: flex;
    gap: 2rem;
}
.icon-notificacion{
    font-size: 30px;
    color: #1A3467;
}
.dropdown-toggle{
    padding: 0;
    border: none;
    font-size: 30px;
    color: #1A3467;
}
#contenedor-sidebar{
    overflow: auto;
    position: fixed;
    background-color: #F5F5F5;
    height: 85vh;
    padding: 3rem;
    width: 30%;
    max-width: 30%;
    margin-top: 8rem;
}
.btn-iniciar > button{
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color:#4791E0 ;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-bottom: 2rem;
}
.foros > a, .publicaciones > a, .titulo > a{
    color: #1A3467;
    font-family: 'poppins';
    font-size: 20px;
    text-decoration: none;
}
.foros > a > i, .titulo > a > i {
    font-size: 30px;
    margin-right: 1rem;
}
.publicaciones > a > i{
    font-size: 30px;
    margin-right: 1.6rem;
}
span {
  position: relative;
}
.under-foros::after{
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    margin-bottom: 0%;
    bottom: 0;
    border: 2px solid #CBAC5A;
    border-radius: 10px;
    width: 100%;
    transition: all 0.25s ease-out;
}
.grupos{
    margin-left: 2rem;
    font-size: 19px;
}
.grupos a{
    text-decoration: none;
    color: #1A3467;
}
.g1, .g2, .g3, .g4, .g5, .g6{
    font-size: 10px;
}
.g1{
    color: #EF5F5F;
}
.g2{
    color: #4791E0;
}
.g3{
    color: #CBAC5A ;
}
.main{
    display: flex;
}

/* ! DISEÑO PARA EL CONTENIDO DEL FORO */
#FORO{
    margin-left: 30%;
    margin-top: 9.5%;
    /* background-color: #EF5F5F; */
    /* border: 3px solid green; */
    width: 70%;
    height: fit-content;
    padding: 3rem;
}
.card{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 2rem;
    margin-bottom: 2rem;
}
.info{
    /* border: 1px solid red; */
    width: 80%;
}
.vermas{
    display: flex;
    align-items: center;
    justify-content: center;;
    /* border: 1px solid blue; */
    width: fit-content;
}
.vermas > a{
    font-size: 40px;
    color: #1A3467;
}
.Tematica > h3, .fecha{
    color: #1A3467;
}
.filtro{
    width: 20%;
    margin-bottom: 2rem;
}
