@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    background-color: #CBAC5A;
    min-height: 2px;
}

#contenedor-navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
}

hr {
    border: none;
    height: 2px;
    background-color: #1A3467;
}

nav {
    padding: 2rem;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.config {
    display: flex;
    gap: 2rem;
}

.icon-notificacion {
    font-size: 30px;
    color: #1A3467;
}

.dropdown-toggle {
    padding: 0;
    border: none;
    font-size: 30px;
    color: #1A3467;
}

#contenedor-sidebar {
    overflow: auto;
    position: fixed;
    background-color: #F5F5F5;
    height: 85vh;
    padding: 3rem;
    width: 30%;
    max-width: 30%;
    margin-top: 8rem;
}

.btn-iniciar>button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: #4791E0;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-bottom: 2rem;
}

.iniciarnuevapublicacion-off {
    display: none;
}

.iniciarforo-off {
    display: none;
}

.foros,
.publicaciones,
.titulo {
    color: #1A3467;
    cursor: pointer;
    font-weight: 500;
}

.titulo {
    cursor: default;
}

.foros>i,
.titulo>i {
    font-size: 30px;
    margin-right: 1rem;
}

.publicaciones>i {
    font-size: 30px;
    margin-right: 1.6rem;
}

span {
    position: relative;
}

.under-foros::after {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    margin-bottom: -5%;
    bottom: 0;
    border: 2px solid #CBAC5A;
    border-radius: 10px;
    width: 100%;
}

.under-pub::after {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    margin-bottom: -5%;
    bottom: 0;
    border: 2px solid #CBAC5A;
    border-radius: 10px;
    width: 100%;
}

.grupos {
    margin-left: 2rem;
    font-size: 19px;
}

.grupos a {
    text-decoration: none;
    color: #1A3467;
}

.g1,
.g2,
.g3,
.g4,
.g5,
.g6 {
    font-size: 10px;
}

.g1 {
    color: #EF5F5F;
}

.g2 {
    color: #4791E0;
}

.g3 {
    color: #CBAC5A;
}

.main {
    display: flex;
}

/* ! DISEÑO PARA EL CONTENIDO DEL FORO */
.FORO-OFF {
    display: none;
}

#contenido-principal {
    margin-left: 30%;
    margin-top: 9.5%;
    width: 70%;
    height: fit-content;
    padding: 3rem;
}

.card-foro {
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.info-foro {
    /* border: 1px solid red; */
    width: 80%;
}

.vermas-foro {
    display: flex;
    align-items: center;
    justify-content: center;
    ;
    /* border: 1px solid blue; */
    width: fit-content;
}

.vermas-foro>a {
    font-size: 40px;
    color: #1A3467;
}

.Tematica-foro>h3,
.fecha {
    color: #1A3467;
}

.filtro-foro {
    width: 20%;
    margin-bottom: 2rem;
}

/* !Diseño para el contenido de las publicaciones */
.PUBLICACIONES-OFF {
    display: none;
}

.card-publicaciones {
    border-radius: 10px;
    background-color: white;
    padding: 3rem;
    margin-bottom: 2rem;
    height: fit-content;
}

.info-publicacion {}

.autor-publicacion {
    color: #1A3467;
}

.fecha-publicacion {
    line-height: 0;
    color: gray;
    font-size: 12px;
    margin-bottom: 1rem;
}

.contenido-publicacion-imagen {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contenido-publicacion-imagen img {
    border-radius: 10px;
    width: 85%;
}

.acciones-publicaciones {
    display: flex;
    justify-content: space-around;
}

.like-publicacion,
.comentar-publicacion {
    font-size: 25px;
    cursor: pointer;
}

/* ! ESTILO EDITAR PERDIL */
.EDITAR-PERFIL-OFF {
    display: none;
}

.card-editar-perfil {
    border-radius: 10px;
    background-color: white;
    padding: 3rem;
    margin-bottom: 2rem;
    height: fit-content;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modificar,
.Modificar-contrasena {
    border: none;
    background-color: #1A3467;
    color: white;
    padding: 10% 40%;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.Modificar:hover,
.Modificar-contrasena:hover,
.publicar-foro:hover {
    scale: 1.05;
}

.volver-foro {
    width: fit-content;
    cursor: pointer;
    color: #1A3467;
    font-size: 25px;
    transition: all 0.3s ease-in-out
}

.ModificarCuenta,
.boton-cambiar-contrasena {
    margin-right: 4rem;
}

/* !DISEÑO CAMBIAR CONTRASEÑA */
.CAMBIAR-CONTRASENA-OFF {
    display: none;
}

.card-cambiar-contrasena {
    border-radius: 10px;
    background-color: white;
    padding: 3rem;
    margin-bottom: 2rem;
    height: fit-content;
}

/* ! CREACIÓN DEL FORO */
.ESCRIBIR-FORO-OFF {
    display: none;
}

.contenedor-escribir-foro {
    border-radius: 10px;
    background-color: white;
    padding: 3rem;
    margin-bottom: 2rem;
    height: fit-content;
}

.label-asunto,
.label-fecha-cierre,
.label-hora-cierre,
.label-descripcion {
    color: #1A3467;
    font-size: 20px;
    font-weight: 500;
    margin-top: 1rem;
}

#descripcion-foro,
#asunto-foro,
#Fecha_cierre,
#Hora_cierre {
    width: 100%;
    height: 200px;
    background: #F5F5F5;
    border: 2px solid #1A3467;
    border-radius: 5px;
    padding: .4rem 1rem;
    resize: none;
    font-family: "Barlow";
}

#asunto-foro {
    height: initial;
}

#Fecha_cierre,
#Hora_cierre {
    width: initial !important;
    height: initial !important;
    color: #1A3467;
    margin-left: 1rem;
}

.btn-publicar-foro,
.btn-publicar {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.publicar-foro,
.publicar {
    border: none;
    background-color: #1A3467;
    color: white;
    padding: 2% 10%;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

/* !CREACIÓN DE PUBLICACIÓN */
.ESCRIBIR-PUBLICACION-OFF {
    display: none;
}

.contenedor-escribir-publicacion {
    border-radius: 10px;
    background-color: white;
    padding: 3rem;
    margin-bottom: 2rem;
    height: fit-content;
}

#descripcion-publicacion {
    width: 100%;
    height: 200px;
    background: #F5F5F5;
    border: 1px solid #1A3467;
    border-radius: 5px;
    padding: .4rem 1rem;
    resize: none;
    font-family: "Barlow";
}

.agregar-imagen-pub {
    display: flex;
    align-items: center;
    justify-content: left;
}

.agregar-imagen-pub label {
    cursor: pointer;
    background: #4791E0;
    color: white;
    padding: .5rem 2rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.agregar-imagen-pub input {
    display: none;
}

.preview-off {
    display: none;
}

.preview-on {
    width: 100%;
    padding: 2rem;
    display: initial;
}

.preview-on img {
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
}